<h1>Log in</h1>
<% if flash[:alert] %>
  <%= flash[:alert] %>
<% end %>
<%= form_tag do %>
  <div>
    <%= label_tag :login, 'Login:' %>
    <%= text_field_tag :login, params[:login] %>
  </div>
  <div>
    <%= label_tag :password, 'Password:' %>
    <%= password_field_tag :password, params[:password] %>
  </div>
  <div>
    <%= submit_tag "Log in" %>
  </div>
<% end %>