   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="row">

       <div class="col-md-12">

  <div class="panel panel-default">
          <div class="panel-body">
          
        

<div class="field">
    <!-- Pole niewidoczne przechowujace id sprintu, ktore przyszlo jako parametr w url pod kluczem "format" -->
    <%= f.hidden_field :sprint_id, :value => params[:format]%>
  </div>
  <div class="field" >
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control'%>
  </div>
  
   <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, size: "30x10", class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :importance %><br>
    <%= f.number_field :importance,  min: 1, max: 3, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :initial_estimate %><br>
    <%= f.number_field :initial_estimate, min: 0, max: 50, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>

<%= f.collection_select :user_id, User.all, :id, :login, {prompt: "Select a user"}, {class: "form-control"} %>


  </div>

  <div class="field">
    <%= f.hidden_field :status, :value => 1%>
  </div>

  <div class="field">
    <%= f.hidden_field :finished, :value => 0%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
          </div>

             
  </div>
    </div>
      </div>




