<h1>Listing tasks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Sprint</th>
      <th>Name</th>
      <th>Importance</th>
      <th>Initial estimate</th>
      <th>User</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.sprint_id %></td>
        <td><%= task.name %></td>
        <td><%= task.importance %></td>
        <td><%= task.initial_estimate %></td>
        <td><%= task.user_id %></td>
        <td><%= task.status %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
