<p id="notice"><%= notice %></p>

<p>
  <strong>Sprint:</strong>
  <%= @task.sprint_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Importance:</strong>
  <%= @task.importance %>
</p>

<p>
  <strong>Initial estimate:</strong>
  <%= @task.initial_estimate %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
