<p id="notice"><%= notice %></p>

<p>
  <strong>Sprint:</strong>
  <% Sprint.where(:id => @task.sprint_id).each do |sprint| %>
        <%= sprint.name%>
    <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Description:</strong>
</p>
<p>

<textarea rows="12" cols="50">
  <%= @task.description %>
</textarea>
</p>

<p>
  <strong>Importance:</strong>
  <%= @task.importance %>
</p>

<p>
  <strong>Initial estimate:</strong>
  <%= @task.initial_estimate %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @task.finished %>%
</p>
<p>
  <strong>Assigned to:</strong>
  <% User.where(:id => @task.user_id).each do |user| %>
        <%= user.login%>
    <% end %>
</p>

<p>
  <strong>Status:</strong>
  <%= displayStatus(@task.status) %>
 </p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', sprints_path %>
