<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @sprint.project_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sprint.name %>
</p>



<table>
  <thead>
    <tr>
      <th>Lista taskow</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  	<% Task.where(:sprint_id => @sprint.id).each do |task| %>
      <tr>
        <td><%= task.name%></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Dodaj task', new_task_path(@sprint.id) %>
<%= link_to 'Edit', edit_sprint_path(@sprint) %> |
<%= link_to 'Back', projects_path %>
